@import '~antd/dist/antd.css';
@import "./external_styles/Semantic-UI-CSS-master/semantic.min.css";
@import "~react-quill/dist/quill.snow.css";
@import "~font-awesome/css/font-awesome.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.transition-enter {
  transform: scale(0);
}
.transition-enter-active {
  transform: scale(1);
  transition: transform 1000ms ease;
}
.transition-exit {
  transform: scale(1);
}
.transition-exit-active {
  transform: scale(0);
  transition: transform 1000ms ease;
}
.ant-modal-body {
  padding: 0
}

h1, h2, h3, h4, h5 {
  color: unset;
}
